:root{
    --background-color: #FFFFFF;
    --title-color:#19192C;
    --text-color:#9E9E9F;
    --btn-color:#7286D3;
    --secondary-text-color:#8EA7E9;
    --icone-background-color:#FFF2F28A;
    --input-border-color:#9E9E9FFA;
    --logo-color:#D9D9D9;
}

body{
    background-color: var(--background-color);
    padding: 0  10rem ;
    margin: 8.1rem 0 0 0;
}
header {
    display: none;
}

.connexion{
    display: flex;
    height: 77.7rem;
    gap:3.3rem;
}
.image-connexion{
    width: 70rem;
    height:71rem;
}
.image-connexion img{
     width: 100%;
    height: 100%;
    object-fit: cover;
}
.connexion-grid{
    width: 50rem;
}
.connexion-grid h1{
    color: var(--title-color);
    font-size: 3.6rem;
    margin-bottom: 1.6rem;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}
form input{
    width: 100%;
    height: 5rem;
    border-radius: 1.3rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.6rem;
    padding-left: 1.6rem;
    margin-bottom: 1.6rem;
    border: solid 0.1rem var(--input-border-color);
}
form input::placeholder{
    color: var(--text-color);
    font-family: 'poppins', sans-serif;
}
form label{
    color: var(--title-color);
    font-size: 2rem;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}
/* gestion des icones dans les champs de saisie */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper i {
    position: absolute;
    left: 1.5rem;
    top: 40%;
    transform: translateY(-50%);
    color: var(--text-color);
    font-size: 1.8rem;
    z-index: 2;
    pointer-events: none;
}

.input-wrapper input {
    width: 100%;
    height: 5rem;
    padding-left: 4.5rem; 
    border-radius: 1.3rem;
    border: 0.1rem solid var(--input-border-color);
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--title-color);
    outline: none;
}

.input-wrapper input:focus {
    border-color: var(--btn-color);
}
form a{
    display: flex;
    flex-direction: row-reverse;
    font-size: 2rem;
    font-family: 'poppins', sans-serif;
    color: var(--secondary-text-color);
    margin-bottom: 6rem;
}
form button{
    width: 50%;
    height: 5rem;
    border-radius: 1.3rem;
    background-color: var(--btn-color);
    color: var(--background-color);
    font-size: 1.6rem;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin: 0 auto;

    
}
form button:hover{
    background-color: var(--secondary-text-color);
    transform: scale(1.05);
    box-shadow: 0 0.4rem 1rem rgba(44, 3, 120, 0.1); 
}
.separateur {
    display: flex;      
    align-items: center;
    text-align: center;
    color: var(--title-color);       
    margin: 20px 0;
    font-family: 'poppins', sans-serif;
    font-size: 2rem;     
    margin-top: 5rem; 
}

.separateur::before,
.separateur::after {
    content: "";         
    flex: 1;             
    height: 1px;        
    background:var(--input-border-color);   
}
.separateur::before {
    margin-right: 15px;
}

.separateur::after {
    margin-left: 15px;
}
.social-login {
    display: flex;
    justify-content: center; 
    gap: 7.3rem;           
    margin-top: 10rem;      
    margin-bottom: 3rem;    
}

.social-circle {
    display: flex;          
    justify-content: center;
    align-items: center;
    
    width: 8rem;           
    height: 8rem;
    
    background-color: var(--icone-background-color); 
    border-radius: 50%;     
    
    border: 0.1rem solid var(--logo-color); 
    
    transition: transform 0.2s, box-shadow 0.2s; 
    cursor: pointer;
}

.social-circle img {
    width: 3rem;             
    height: 3rem;
    object-fit: contain;     
}


.social-circle:hover {
    transform: scale(1.05); 
    box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.1); 
}